* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #050816;
    color: white;
}


/* NAVBAR */

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    background: rgba(5, 8, 22, 0.8);
    backdrop-filter: blur(10px);
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
}


.logo {
    font-size: 32px;
    font-weight: bold;
}

.logo span {
    color: #00aaff;
}


ul {
    display: flex;
    gap: 30px;
    list-style: none;
}


ul a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}


ul a:hover {
    color: #00aaff;
}


/* HERO */

.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 8%;
    background:
    radial-gradient(circle at top right, #0066ff55, transparent 40%);
}


.hero-text {
    max-width: 650px;
}


.hero h2 {
    font-
